# Assignment-03-Q5 (Hypothesis Testing)

Q5. Fantaloons Sales managers commented that % of males versus females walking in to the store differ based on day of the week. Analyze the data and determine whether there is evidence at 5 % significance level to support this hypothesis.

In [4]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm
from scipy.stats import chi2_contingency

In [3]:
# Load the dataset
data=pd.read_csv('Database/Faltoons.csv')
data

    Weekdays Weekend
0       Male  Female
1     Female    Male
2     Female    Male
3       Male  Female
4     Female  Female
..       ...     ...
395   Female    Male
396   Female  Female
397   Female  Female
398   Female    Male
399   Female  Female

[400 rows x 2 columns]

In [5]:
data.Weekdays.value_counts()

Female    287
Male      113
Name: Weekdays, dtype: int64

In [6]:
data.Weekend.value_counts()

Female    233
Male      167
Name: Weekend, dtype: int64

In [7]:
# Make a contingency table
obs=np.array([[287,233],[113,167]])
obs

array([[287, 233],
       [113, 167]])

Assume Null Hypothesis as Ho: 
Independence of categorical variables (% of males versus females walking in to the store does not differ based on day of the week)

Thus, Alternative hypothesis as Ha
Dependence of categorical variables (% of males versus females walking in to the store does differ based on day of the week)

In [8]:
# Chi2 contengency independence test
chi2_contingency(obs) # o/p is (Chi2 stats value, p_value, df, expected obsvations)

(15.434065934065934,
 8.54342267020237e-05,
 1,
 array([[260., 260.],
        [140., 140.]]))

In [9]:
# Compare p_value with α = 0.05

Inference:
As (p_value = 0) < (α = 0.05); Reject Null Hypothesis
i.e. Dependence of categorical variables 
Thus, % of males versus females walking in to the store does differ based on day of the week